
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("/images/atl.jpg");
  background-attachment: fixed;
}

h1 {
  color: #173B6C;
}

section {
  height: 100vh;
}

.name {
  color: white;
  margin: 0;
}

.welcome {
  background-image: url("/images/atl.jpg");
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.aboutme {
  background-color: rgb(255,255,255);
  height: 120vh;
}


.aboutmeline {
  color: #173B6C;
}

.aboutButton {
  background-color: #173B6C;
  color: whitesmoke;
}
.aboutButton:hover {
  background-color: wheat;
}

.selfie {
  object-fit: contain;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10%;
}

.projects {
  background-color: rgb(245, 248, 253);
  height: 230vh;
}

.skill {
  background-color: rgb(255,255,255);
  height: 125vh;
}

.skills {
  height: 8vh;
}

.contact {
  background-color: rgb(245, 248, 253);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 20vh;
}

@media (max-width: 1014px) {
  .nav-icon {
    position: relative;
    left: 300px;
    bottom: 180px;
  }
  .projects {
    height: 300vh;
  }
  
}

@media (max-width:795px) {
  .aboutme {
    height: 190vh;
  }

  .projects {
    height: 330vh;
  }
}

@media (max-width:767px) {
  .aboutme {
    height: 190vh;
  }

  .projects {
    height: 520vh;
  }
}

@media (max-width:450px) {
  .aboutme {
    height: 170vh;
  }

  .selfie {
    height: 50vh;
  }

  .projects {
    height: 550vh;
  }
  .skills-text {
    font-size:medium;
  }
  .nav-icon {
    position: relative;
    left: 200px;
    bottom: 180px;
  }
}

@media (max-width:382px) {
  .aboutme {
    height: 200vh;
  }

  .projects {
    height: 600vh;
  }

  .skills-text {
    font-size:small;
  }

  .nav-icon {
    position: relative;
    left: 160px;
    bottom: 180px;
  }

}